body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
footer p{
    text-align: center;
    font-size: 15px;
}
.name-highlight{
    color: orange;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.bottom-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bottom-banner img{
    position: relative;
    top: -100px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
/* header */
header li{
    float: left;
    padding: 0 20px 0 20px;
    display: inline;
}
header li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}
header{
    background-color: black;
    color: white;
    border-bottom: 3px solid orange;
    min-height: 70px;
    padding-top: 30px;
}
header ul{
    margin: 0;
    padding: 0;
}
header nav{
    float: right;
    margin-top: 5px;
}
header .highlight, header .current a{
    color: orange;
    font-weight: bold;
}
header a:hover{
    color: cyan;
    font-weight: bold;
}
header section{
    height: auto;
    padding-bottom: 0;
}
header #branding{
    float: left;
    padding: 0%;
    position: relative;
    top: -20px;
    left: 20px;
}
header #branding h1{
    margin: 0;
}

.container{
    width: auto;
    margin: auto;
    overflow: hidden;
}
/* contact */
.contact{
    margin: auto;
    width: 35%;
    border: 3px solid none;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
}
input[type=text], [type=number], select{
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
}
input[type=text], [type=number]:focus{
    width: auto;   
}
input[type=submit]{
    width: 150px;
    text-align: center;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-image: linear-gradient(90deg, lightgreen, green);
}
div h2{
    font-size: 35px;
    text-align: center;
    padding-bottom: -50px;
    margin: 0%;
    text-transform: uppercase;
    text-shadow: 3px 3px #ccc;
}
div h3{
    text-align: center;
    padding-top: -80px;
    margin: 0%;
}
